@charset "UTF-8";
/* clearfix */
.clearfix,
#main {
	*zoom: 1;
}
.clearfix:before,
#main:before,
.clearfix:after,
#main:after {
	content: "";
	display: table;
}
.clearfix:after,
#main:after {
	clear: both;
}

/*----------------------------------------------------
	再設定
----------------------------------------------------*/
body {
	font-family: "メイリオ", "Meiryo", verdana, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "ＭＳ Ｐゴシック", "MS PGothic", Sans-Serif;
	line-height: 1.6;
	font-size: 100%;
	color: #333;
	background-color: #e8e6e4;
}

a:link,
a:visited {
	color: #2489ce;
}
a:hover,
a:active {
	color: #72b7e6;
}

img {
	max-width: 100%;
	height: auto;
	width: auto;
}

/*----------------------------------------------------
	汎用クラス
----------------------------------------------------*/
[class*='col-'] {
	border: 1px solid #ff7373;
}

/*----------------------------------------------------
	共通レイアウト
----------------------------------------------------*/
#header {
	background-color: #3f3f3f;
	margin-bottom: 20px;
}

#main {
	background-color: #fff;
	margin-bottom: 20px;
}
#main .content {
	float: left;
}
#main .side {
	float: left;
	border-left: 1px solid #ff7373;
}

#footer {
	background-color: #3f3f3f;
	margin-bottom: 20px;
}

/*----------------------------------------------------
	phone < 768px
----------------------------------------------------*/
/*----------------------------------------------------
	tablet < 960
----------------------------------------------------*/
/*----------------------------------------------------
	pc >= 960
----------------------------------------------------*/
