@charset "UTF-8";
/* clearfix */
.clearfix {
	*zoom: 1;
}
.clearfix:before,
.clearfix:after {
	content: "";
	display: table;
}
.clearfix:after {
	clear: both;
}

/*----------------------------------------------------
	汎用クラス
----------------------------------------------------*/
/*----------------------------------------------------
	ページ
----------------------------------------------------*/
