@charset "utf-8";

// ===================================================================
// 変数
// ===================================================================

// 横幅
$width: 960px;
$pc: 960px;
$tablet: 768px;
$mobile: 480px;

// カラー
$color: #ff7373;
$color2: #86b32d;
$linkcolor: #2489ce;

// ===================================================================
// 汎用クラス
// ===================================================================
/* clearfix */
.clearfix {
	*zoom: 1;
	&:before,
	&:after {
		content: "";
		display: table;
	}
	&:after {
		clear: both;
	}
}

// ===================================================================
// mixin
// ===================================================================

@mixin clearfix {
	*zoom: 1;
	&:before,
	&:after {
		content: "";
		display: table;
	}
	&:after {
		clear: both;
	}
}

@mixin box($float: left, $margin: 10px) {
	.img {
		float: $float;
		@if $float == left {
			margin-right: $margin;
		} @else {
			margin-left: $margin;
		}
	}
	.txt {
		overflow: hidden;
	}
}

@mixin link_no($color: #000) {
	a {
		&:link, &:visited, &:active {
			color: $color;
			text-decoration: none;
		}
		&:hover {
			color: $color;
			text-decoration: underline;
		}
	}
}

// ===================================================================
// function
// ===================================================================

$fontSizeList: 62%, 70%, 77%, 85%, 93%, 100%, 108%, 116%, 124%, 131%, 139%, 147%, 154%, 162%, 170%, 177%, 185%, 193%, 200%, 208%, 216%, 224%, 231%, 239%, 247%, 254%, 262%, 270%, 277%, 285%, 293%, 300%, 308%;
 
@function fs($size) {
	@if $size < 8 {
		$size: 8;
	}
	@if $size > 40 {
		$size: 40;
	}
	@return nth($fontSizeList, $size - 7);
}
