@charset "utf-8";
@import "compass";

// import
@import "import";


/*----------------------------------------------------
	再設定
----------------------------------------------------*/
body {
	font-family: "メイリオ", "Meiryo", verdana, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "ＭＳ Ｐゴシック", "MS PGothic", Sans-Serif;
	line-height: 1.6;
	font-size: fs(13);
	color: #333;
	background-color: #e8e6e4;
}
a {
	&:link, &:visited {
		color: $linkcolor;
	}
	&:hover, &:active {
		color: lighten($linkcolor, 20%);
	 }
}
img {
	max-width: 100%;
	height: auto;
	width: auto;
}

/*----------------------------------------------------
	汎用クラス
----------------------------------------------------*/
[class*='col-'] {
    border: 1px solid $color;
}

/*----------------------------------------------------
	共通レイアウト
----------------------------------------------------*/
#header {
	background-color: #3f3f3f;
	margin-bottom: 20px;
}
#main {
	@extend .clearfix;
	background-color: #fff;
	margin-bottom: 20px;
	.content {
		float: left;
	}
	.side {
		float: left;
		border-left: 1px solid $color;
	}
}
#footer {
	background-color: #3f3f3f;
	margin-bottom: 20px;
}

/*----------------------------------------------------
	pc >= 960
----------------------------------------------------*/
@media (min-width: $pc) {
	
}

/*----------------------------------------------------
	tablet < 960
----------------------------------------------------*/
@media (min-width: $tablet) and (max-width: ($pc - 1)) {

}

/*----------------------------------------------------
	phone < 768px
----------------------------------------------------*/
@media (max-width: ($tablet - 1)) {

}

