html,
html .halflings {
  -webkit-font-smoothing: antialiased !important;
}

@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot');
	src:url('fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('fonts/icomoon.woff') format('woff'),
		url('fonts/icomoon.ttf') format('truetype'),
		url('fonts/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], 
[class*=" icon-"] {
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
}


/* Use the following CSS code if you want to use data attributes for inserting your icons */
[class^="icon-"]:before, 
[class*=" icon-"]:before {
	font-family: 'icomoon';
    font-weight: normal;
    font-style: normal;
    speak: none;
    -webkit-font-smoothing: antialiased;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"] {
*/
.icon-user, .icon-users, .icon-upload5, .icon-tv, .icon-twitter, .icon-twitter2, .icon-truck, .icon-tshirt, .icon-trophy2, .icon-thumbs-up2, .icon-thumbs-down2, .icon-tags, .icon-tag5, .icon-table, .icon-switch, .icon-star6, .icon-star4, .icon-stack, .icon-spinner12, .icon-spinner9, .icon-skype, .icon-skull3, .icon-search3, .icon-remove8, .icon-question3, .icon-quill2, .icon-print3, .icon-profile, .icon-pushpin, .icon-queen, .icon-popout, .icon-podium, .icon-play, .icon-plus-circle, .icon-plus, .icon-play3, .icon-pie2, .icon-phone3, .icon-phone2, .icon-pen5, .icon-paypal2, .icon-paw, .icon-paste3, .icon-paper-plane, .icon-numbered-list, .icon-new, .icon-notebook, .icon-new-tab, .icon-movie, .icon-music, .icon-mobile3, .icon-mobile, .icon-menu6, .icon-location3, .icon-lock2, .icon-mail2, .icon-list, .icon-list4, .icon-link, .icon-lamp4, .icon-leaf, .icon-key4, .icon-info2, .icon-image4, .icon-home8, .icon-home2, .icon-heart7, .icon-heart8, .icon-heart-broken2, .icon-grid5, .icon-grid, .icon-grid6, .icon-glass2, .icon-gamepad3, .icon-gas-pump, .icon-gift2, .icon-gift, .icon-folder-open, .icon-folder6, .icon-folder5, .icon-flower, .icon-fire, .icon-flag5, .icon-flag4, .icon-film4, .icon-files, .icon-file8, .icon-file6, .icon-female, .icon-fan, .icon-feed3, .icon-exit3, .icon-film3, .icon-file7, .icon-file9, .icon-expand, .icon-envelop, .icon-envelop2, .icon-envelop3, .icon-envelop-opened, .icon-download5, .icon-droplet, .icon-enter3, .icon-droplet3, .icon-dribbble, .icon-drawer2, .icon-direction, .icon-dice, .icon-diamond, .icon-diamond2, .icon-cup2, .icon-cup, .icon-database3, .icon-copy4, .icon-copy2, .icon-cog2, .icon-cloud-download, .icon-clock4, .icon-clock3, .icon-clipboard3, .icon-clipboard4, .icon-checkmark3, .icon-checkmark, .icon-cart7, .icon-cd, .icon-chart, .icon-camera3, .icon-cancel-circle2, .icon-cancel-circle, .icon-calendar5, .icon-calendar4, .icon-calendar3, .icon-calculate, .icon-bubble11, .icon-bubble10, .icon-bubbles2, .icon-bubbles, .icon-bubble-notification2, .icon-bubble-heart, .icon-briefcase3, .icon-books, .icon-book2, .icon-book, .icon-binoculars2, .icon-bell2, .icon-bag3, .icon-attachment, .icon-arrow-up-right5, .icon-arrow-up10, .icon-arrow-up-left7, .icon-arrow-up-left5, .icon-arrow-up5, .icon-arrow-up6, .icon-arrow-up-left3, .icon-arrow-up-left4, .icon-arrow-up-right3, .icon-arrow-up-right4, .icon-arrow-left5, .icon-arrow-left6, .icon-arrow-right6, .icon-arrow-right7, .icon-arrow-down-right4, .icon-arrow-down-right3, .icon-arrow-down5, .icon-arrow-down6, .icon-arrow-down-left3, .icon-arrow-down-left4, .icon-address-book, .icon-aid, .icon-airplane, .icon-alarm2, .icon-apple, .icon-android, .icon-arrow-down-left7, .icon-arrow-down10, .icon-arrow-down-right7, .icon-arrow-left11, .icon-arrow-right12, .icon-arrow-up-right7, .icon-basket, .icon-barcode2, .icon-bars, .icon-bubble, .icon-bubble-star, .icon-busy2, .icon-calendar, .icon-car, .icon-database, .icon-lamp, .icon-power, .icon-screen, .icon-reply, .icon-seven-segment-0, .icon-seven-segment-1, .icon-seven-segment-2, .icon-seven-segment-3, .icon-seven-segment-4, .icon-seven-segment-5, .icon-seven-segment-6, .icon-seven-segment-7, .icon-seven-segment-8, .icon-seven-segment-9, .icon-star5, .icon-stats-up, .icon-sun2, .icon-storage2, .icon-wand2, .icon-wrench, .icon-youtube, .icon-zoom-in2, .icon-zoom-out2, .icon-vcard, .icon-skull2, .icon-plus-circle2, .icon-pencil5, .icon-menu3, .icon-menu2, .icon-menu, .icon-male, .icon-location, .icon-home10, .icon-forward, .icon-fire2, .icon-file5, .icon-box-remove, .icon-box-add, .icon-arrow-right14, .icon-arrow-up12, .icon-arrow-left13, .icon-arrow-down12, .icon-close, .icon-facebook2, .icon-globe, .icon-guitar, .icon-hand, .icon-html5, .icon-image2, .icon-medal3, .icon-medal4, .icon-medal5, .icon-paragraph-justify2, .icon-paragraph-justify3, .icon-notification, .icon-notification2, .icon-steps, .icon-wand, .icon-wrench4 {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
.icon-user:before {
	content: "\e000";
}
.icon-users:before {
	content: "\e001";
}
.icon-upload5:before {
	content: "\e002";
}
.icon-tv:before {
	content: "\e003";
}
.icon-twitter:before {
	content: "\e004";
}
.icon-twitter2:before {
	content: "\e005";
}
.icon-truck:before {
	content: "\e006";
}
.icon-tshirt:before {
	content: "\e007";
}
.icon-trophy2:before {
	content: "\e008";
}
.icon-thumbs-up2:before {
	content: "\e009";
}
.icon-thumbs-down2:before {
	content: "\e00a";
}
.icon-tags:before {
	content: "\e00b";
}
.icon-tag5:before {
	content: "\e00c";
}
.icon-table:before {
	content: "\e00d";
}
.icon-switch:before {
	content: "\e00e";
}
.icon-star6:before {
	content: "\e00f";
}
.icon-star4:before {
	content: "\e010";
}
.icon-stack:before {
	content: "\e011";
}
.icon-spinner12:before {
	content: "\e012";
}
.icon-spinner9:before {
	content: "\e013";
}
.icon-skype:before {
	content: "\e014";
}
.icon-skull3:before {
	content: "\e015";
}
.icon-search3:before {
	content: "\e016";
}
.icon-remove8:before {
	content: "\e017";
}
.icon-question3:before {
	content: "\e018";
}
.icon-quill2:before {
	content: "\e019";
}
.icon-print3:before {
	content: "\e01a";
}
.icon-profile:before {
	content: "\e01b";
}
.icon-pushpin:before {
	content: "\e01c";
}
.icon-queen:before {
	content: "\e01d";
}
.icon-popout:before {
	content: "\e01e";
}
.icon-podium:before {
	content: "\e01f";
}
.icon-play:before {
	content: "\e020";
}
.icon-plus-circle:before {
	content: "\e021";
}
.icon-plus:before {
	content: "\e022";
}
.icon-play3:before {
	content: "\e023";
}
.icon-pie2:before {
	content: "\e024";
}
.icon-phone3:before {
	content: "\e025";
}
.icon-phone2:before {
	content: "\e026";
}
.icon-pen5:before {
	content: "\e027";
}
.icon-paypal2:before {
	content: "\e028";
}
.icon-paw:before {
	content: "\e029";
}
.icon-paste3:before {
	content: "\e02a";
}
.icon-paper-plane:before {
	content: "\e02b";
}
.icon-numbered-list:before {
	content: "\e02c";
}
.icon-new:before {
	content: "\e02d";
}
.icon-notebook:before {
	content: "\e02e";
}
.icon-new-tab:before {
	content: "\e02f";
}
.icon-movie:before {
	content: "\e030";
}
.icon-music:before {
	content: "\e031";
}
.icon-mobile3:before {
	content: "\e033";
}
.icon-mobile:before {
	content: "\e034";
}
.icon-menu6:before {
	content: "\e032";
}
.icon-location3:before {
	content: "\e035";
}
.icon-lock2:before {
	content: "\e036";
}
.icon-mail2:before {
	content: "\e037";
}
.icon-list:before {
	content: "\e038";
}
.icon-list4:before {
	content: "\e039";
}
.icon-link:before {
	content: "\e03b";
}
.icon-lamp4:before {
	content: "\e03a";
}
.icon-leaf:before {
	content: "\e03c";
}
.icon-key4:before {
	content: "\e03d";
}
.icon-info2:before {
	content: "\e03e";
}
.icon-image4:before {
	content: "\e03f";
}
.icon-home8:before {
	content: "\e040";
}
.icon-home2:before {
	content: "\e041";
}
.icon-heart7:before {
	content: "\e042";
}
.icon-heart8:before {
	content: "\e043";
}
.icon-heart-broken2:before {
	content: "\e044";
}
.icon-grid5:before {
	content: "\e045";
}
.icon-grid:before {
	content: "\e047";
}
.icon-grid6:before {
	content: "\e046";
}
.icon-glass2:before {
	content: "\e048";
}
.icon-gamepad3:before {
	content: "\e04a";
}
.icon-gas-pump:before {
	content: "\e04b";
}
.icon-gift2:before {
	content: "\e04c";
}
.icon-gift:before {
	content: "\e04d";
}
.icon-folder-open:before {
	content: "\e04e";
}
.icon-folder6:before {
	content: "\e04f";
}
.icon-folder5:before {
	content: "\e050";
}
.icon-flower:before {
	content: "\e051";
}
.icon-fire:before {
	content: "\e052";
}
.icon-flag5:before {
	content: "\e053";
}
.icon-flag4:before {
	content: "\e054";
}
.icon-film4:before {
	content: "\e055";
}
.icon-files:before {
	content: "\e056";
}
.icon-file8:before {
	content: "\e057";
}
.icon-file6:before {
	content: "\e058";
}
.icon-female:before {
	content: "\e059";
}
.icon-fan:before {
	content: "\e05b";
}
.icon-feed3:before {
	content: "\e05c";
}
.icon-exit3:before {
	content: "\e05a";
}
.icon-film3:before {
	content: "\e05d";
}
.icon-file7:before {
	content: "\e05e";
}
.icon-file9:before {
	content: "\e05f";
}
.icon-expand:before {
	content: "\e060";
}
.icon-envelop:before {
	content: "\e061";
}
.icon-envelop2:before {
	content: "\e062";
}
.icon-envelop3:before {
	content: "\e063";
}
.icon-envelop-opened:before {
	content: "\e064";
}
.icon-download5:before {
	content: "\e065";
}
.icon-droplet:before {
	content: "\e066";
}
.icon-enter3:before {
	content: "\e067";
}
.icon-droplet3:before {
	content: "\e068";
}
.icon-dribbble:before {
	content: "\e069";
}
.icon-drawer2:before {
	content: "\e06a";
}
.icon-direction:before {
	content: "\e06b";
}
.icon-dice:before {
	content: "\e06c";
}
.icon-diamond:before {
	content: "\e06d";
}
.icon-diamond2:before {
	content: "\e06e";
}
.icon-cup2:before {
	content: "\e06f";
}
.icon-cup:before {
	content: "\e070";
}
.icon-database3:before {
	content: "\e071";
}
.icon-copy4:before {
	content: "\e072";
}
.icon-copy2:before {
	content: "\e073";
}
.icon-cog2:before {
	content: "\e074";
}
.icon-cloud-download:before {
	content: "\e075";
}
.icon-clock4:before {
	content: "\e076";
}
.icon-clock3:before {
	content: "\e077";
}
.icon-clipboard3:before {
	content: "\e078";
}
.icon-clipboard4:before {
	content: "\e079";
}
.icon-checkmark3:before {
	content: "\e07a";
}
.icon-checkmark:before {
	content: "\e07b";
}
.icon-cart7:before {
	content: "\e07c";
}
.icon-cd:before {
	content: "\e07d";
}
.icon-chart:before {
	content: "\e07e";
}
.icon-camera3:before {
	content: "\e07f";
}
.icon-cancel-circle2:before {
	content: "\e080";
}
.icon-cancel-circle:before {
	content: "\e081";
}
.icon-calendar5:before {
	content: "\e082";
}
.icon-calendar4:before {
	content: "\e083";
}
.icon-calendar3:before {
	content: "\e084";
}
.icon-calculate:before {
	content: "\e085";
}
.icon-bubble11:before {
	content: "\e086";
}
.icon-bubble10:before {
	content: "\e087";
}
.icon-bubbles2:before {
	content: "\e088";
}
.icon-bubbles:before {
	content: "\e089";
}
.icon-bubble-notification2:before {
	content: "\e08a";
}
.icon-bubble-heart:before {
	content: "\e08b";
}
.icon-briefcase3:before {
	content: "\e08c";
}
.icon-books:before {
	content: "\e08d";
}
.icon-book2:before {
	content: "\e08e";
}
.icon-book:before {
	content: "\e08f";
}
.icon-binoculars2:before {
	content: "\e090";
}
.icon-bell2:before {
	content: "\e091";
}
.icon-bag3:before {
	content: "\e092";
}
.icon-attachment:before {
	content: "\e093";
}
.icon-arrow-up-right5:before {
	content: "\e094";
}
.icon-arrow-up10:before {
	content: "\e095";
}
.icon-arrow-up-left7:before {
	content: "\e096";
}
.icon-arrow-up-left5:before {
	content: "\e097";
}
.icon-arrow-up5:before {
	content: "\e098";
}
.icon-arrow-up6:before {
	content: "\e099";
}
.icon-arrow-up-left3:before {
	content: "\e09a";
}
.icon-arrow-up-left4:before {
	content: "\e09b";
}
.icon-arrow-up-right3:before {
	content: "\e09c";
}
.icon-arrow-up-right4:before {
	content: "\e09d";
}
.icon-arrow-left5:before {
	content: "\e09e";
}
.icon-arrow-left6:before {
	content: "\e09f";
}
.icon-arrow-right6:before {
	content: "\e0a2";
}
.icon-arrow-right7:before {
	content: "\e0a3";
}
.icon-arrow-down-right4:before {
	content: "\e0a4";
}
.icon-arrow-down-right3:before {
	content: "\e0a5";
}
.icon-arrow-down5:before {
	content: "\e0a6";
}
.icon-arrow-down6:before {
	content: "\e0a7";
}
.icon-arrow-down-left3:before {
	content: "\e0a8";
}
.icon-arrow-down-left4:before {
	content: "\e0a9";
}
.icon-address-book:before {
	content: "\e0a0";
}
.icon-aid:before {
	content: "\e0a1";
}
.icon-airplane:before {
	content: "\e0aa";
}
.icon-alarm2:before {
	content: "\e0ab";
}
.icon-apple:before {
	content: "\e0ac";
}
.icon-android:before {
	content: "\e0ad";
}
.icon-arrow-down-left7:before {
	content: "\e0ae";
}
.icon-arrow-down10:before {
	content: "\e0af";
}
.icon-arrow-down-right7:before {
	content: "\e0b0";
}
.icon-arrow-left11:before {
	content: "\e0b1";
}
.icon-arrow-right12:before {
	content: "\e0b2";
}
.icon-arrow-up-right7:before {
	content: "\e0b3";
}
.icon-basket:before {
	content: "\e0b4";
}
.icon-barcode2:before {
	content: "\e0b5";
}
.icon-bars:before {
	content: "\e0b6";
}
.icon-bubble:before {
	content: "\e0b7";
}
.icon-bubble-star:before {
	content: "\e0b8";
}
.icon-busy2:before {
	content: "\e0b9";
}
.icon-calendar:before {
	content: "\e0ba";
}
.icon-car:before {
	content: "\e0bb";
}
.icon-database:before {
	content: "\e0bc";
}
.icon-lamp:before {
	content: "\e0bd";
}
.icon-power:before {
	content: "\e0be";
}
.icon-screen:before {
	content: "\e0bf";
}
.icon-reply:before {
	content: "\e0c0";
}
.icon-seven-segment-0:before {
	content: "\e0c1";
}
.icon-seven-segment-1:before {
	content: "\e0c2";
}
.icon-seven-segment-2:before {
	content: "\e0c3";
}
.icon-seven-segment-3:before {
	content: "\e0c4";
}
.icon-seven-segment-4:before {
	content: "\e0c5";
}
.icon-seven-segment-5:before {
	content: "\e0c6";
}
.icon-seven-segment-6:before {
	content: "\e0c7";
}
.icon-seven-segment-7:before {
	content: "\e0c8";
}
.icon-seven-segment-8:before {
	content: "\e0c9";
}
.icon-seven-segment-9:before {
	content: "\e0ca";
}
.icon-star5:before {
	content: "\e0cb";
}
.icon-stats-up:before {
	content: "\e0cc";
}
.icon-sun2:before {
	content: "\e0cd";
}
.icon-storage2:before {
	content: "\e0ce";
}
.icon-wand2:before {
	content: "\e0cf";
}
.icon-wrench:before {
	content: "\e0d0";
}
.icon-youtube:before {
	content: "\e0d1";
}
.icon-zoom-in2:before {
	content: "\e0d2";
}
.icon-zoom-out2:before {
	content: "\e0d3";
}
.icon-vcard:before {
	content: "\e0d4";
}
.icon-skull2:before {
	content: "\e0d5";
}
.icon-plus-circle2:before {
	content: "\e0d6";
}
.icon-pencil5:before {
	content: "\e0d7";
}
.icon-menu3:before {
	content: "\e0d8";
}
.icon-menu2:before {
	content: "\e0d9";
}
.icon-menu:before {
	content: "\e0da";
}
.icon-male:before {
	content: "\e0db";
}
.icon-location:before {
	content: "\e0dc";
}
.icon-home10:before {
	content: "\e0dd";
}
.icon-forward:before {
	content: "\e0de";
}
.icon-fire2:before {
	content: "\e0df";
}
.icon-file5:before {
	content: "\e0e0";
}
.icon-box-remove:before {
	content: "\e0e1";
}
.icon-box-add:before {
	content: "\e0e2";
}
.icon-arrow-right14:before {
	content: "\e0e3";
}
.icon-arrow-up12:before {
	content: "\e0e4";
}
.icon-arrow-left13:before {
	content: "\e0e5";
}
.icon-arrow-down12:before {
	content: "\e0e6";
}
.icon-close:before {
	content: "\e0e7";
}
.icon-facebook2:before {
	content: "\e0e8";
}
.icon-globe:before {
	content: "\e0e9";
}
.icon-guitar:before {
	content: "\e049";
}
.icon-hand:before {
	content: "\e0ea";
}
.icon-html5:before {
	content: "\e0eb";
}
.icon-image2:before {
	content: "\e0ec";
}
.icon-medal3:before {
	content: "\e0ed";
}
.icon-medal4:before {
	content: "\e0ee";
}
.icon-medal5:before {
	content: "\e0ef";
}
.icon-paragraph-justify2:before {
	content: "\e0f0";
}
.icon-paragraph-justify3:before {
	content: "\e0f1";
}
.icon-notification:before {
	content: "\e0f2";
}
.icon-notification2:before {
	content: "\e0f3";
}
.icon-steps:before {
	content: "\e0f4";
}
.icon-wand:before {
	content: "\e0f5";
}
.icon-wrench4:before {
	content: "\e0f6";
}
