<link rel="stylesheet" href="icomoon.css">
<i class="icon-user"></i>
<i class="icon-users"></i>
<i class="icon-upload5"></i>
<i class="icon-tv"></i>
<i class="icon-twitter"></i>
<i class="icon-twitter2"></i>
<i class="icon-truck"></i>
<i class="icon-tshirt"></i>
<i class="icon-trophy2"></i>
<i class="icon-thumbs-up2"></i>
<i class="icon-thumbs-down2"></i>
<i class="icon-tags"></i>
<i class="icon-tag5"></i>
<i class="icon-table"></i>
<i class="icon-switch"></i>
<i class="icon-star6"></i>
<i class="icon-star4"></i>
<i class="icon-stack"></i>
<i class="icon-spinner12"></i>
<i class="icon-spinner9"></i>
<i class="icon-skype"></i>
<i class="icon-skull3"></i>
<i class="icon-search3"></i>
<i class="icon-remove8"></i>
<i class="icon-question3"></i>
<i class="icon-quill2"></i>
<i class="icon-print3"></i>
<i class="icon-profile"></i>
<i class="icon-pushpin"></i>
<i class="icon-queen"></i>
<i class="icon-popout"></i>
<i class="icon-podium"></i>
<i class="icon-play"></i>
<i class="icon-plus-circle"></i>
<i class="icon-plus"></i>
<i class="icon-play3"></i>
<i class="icon-pie2"></i>
<i class="icon-phone3"></i>
<i class="icon-phone2"></i>
<i class="icon-pen5"></i>
<i class="icon-paypal2"></i>
<i class="icon-paw"></i>
<i class="icon-paste3"></i>
<i class="icon-paper-plane"></i>
<i class="icon-numbered-list"></i>
<i class="icon-new"></i>
<i class="icon-notebook"></i>
<i class="icon-new-tab"></i>
<i class="icon-movie"></i>
<i class="icon-music"></i>
<i class="icon-mobile3"></i>
<i class="icon-mobile"></i>
<i class="icon-menu6"></i>
<i class="icon-location3"></i>
<i class="icon-lock2"></i>
<i class="icon-mail2"></i>
<i class="icon-list"></i>
<i class="icon-list4"></i>
<i class="icon-link"></i>
<i class="icon-lamp4"></i>
<i class="icon-leaf"></i>
<i class="icon-key4"></i>
<i class="icon-info2"></i>
<i class="icon-image4"></i>
<i class="icon-home8"></i>
<i class="icon-home2"></i>
<i class="icon-heart7"></i>
<i class="icon-heart8"></i>
<i class="icon-heart-broken2"></i>
<i class="icon-grid5"></i>
<i class="icon-grid"></i>
<i class="icon-grid6"></i>
<i class="icon-glass2"></i>
<i class="icon-gamepad3"></i>
<i class="icon-gas-pump"></i>
<i class="icon-gift2"></i>
<i class="icon-gift"></i>
<i class="icon-folder-open"></i>
<i class="icon-folder6"></i>
<i class="icon-folder5"></i>
<i class="icon-flower"></i>
<i class="icon-fire"></i>
<i class="icon-flag5"></i>
<i class="icon-flag4"></i>
<i class="icon-film4"></i>
<i class="icon-files"></i>
<i class="icon-file8"></i>
<i class="icon-file6"></i>
<i class="icon-female"></i>
<i class="icon-fan"></i>
<i class="icon-feed3"></i>
<i class="icon-exit3"></i>
<i class="icon-film3"></i>
<i class="icon-file7"></i>
<i class="icon-file9"></i>
<i class="icon-expand"></i>
<i class="icon-envelop"></i>
<i class="icon-envelop2"></i>
<i class="icon-envelop3"></i>
<i class="icon-envelop-opened"></i>
<i class="icon-download5"></i>
<i class="icon-droplet"></i>
<i class="icon-enter3"></i>
<i class="icon-droplet3"></i>
<i class="icon-dribbble"></i>
<i class="icon-drawer2"></i>
<i class="icon-direction"></i>
<i class="icon-dice"></i>
<i class="icon-diamond"></i>
<i class="icon-diamond2"></i>
<i class="icon-cup2"></i>
<i class="icon-cup"></i>
<i class="icon-database3"></i>
<i class="icon-copy4"></i>
<i class="icon-copy2"></i>
<i class="icon-cog2"></i>
<i class="icon-cloud-download"></i>
<i class="icon-clock4"></i>
<i class="icon-clock3"></i>
<i class="icon-clipboard3"></i>
<i class="icon-clipboard4"></i>
<i class="icon-checkmark3"></i>
<i class="icon-checkmark"></i>
<i class="icon-cart7"></i>
<i class="icon-cd"></i>
<i class="icon-chart"></i>
<i class="icon-camera3"></i>
<i class="icon-cancel-circle2"></i>
<i class="icon-cancel-circle"></i>
<i class="icon-calendar5"></i>
<i class="icon-calendar4"></i>
<i class="icon-calendar3"></i>
<i class="icon-calculate"></i>
<i class="icon-bubble11"></i>
<i class="icon-bubble10"></i>
<i class="icon-bubbles2"></i>
<i class="icon-bubbles"></i>
<i class="icon-bubble-notification2"></i>
<i class="icon-bubble-heart"></i>
<i class="icon-briefcase3"></i>
<i class="icon-books"></i>
<i class="icon-book2"></i>
<i class="icon-book"></i>
<i class="icon-binoculars2"></i>
<i class="icon-bell2"></i>
<i class="icon-bag3"></i>
<i class="icon-attachment"></i>
<i class="icon-arrow-up-right5"></i>
<i class="icon-arrow-up10"></i>
<i class="icon-arrow-up-left7"></i>
<i class="icon-arrow-up-left5"></i>
<i class="icon-arrow-up5"></i>
<i class="icon-arrow-up6"></i>
<i class="icon-arrow-up-left3"></i>
<i class="icon-arrow-up-left4"></i>
<i class="icon-arrow-up-right3"></i>
<i class="icon-arrow-up-right4"></i>
<i class="icon-arrow-left5"></i>
<i class="icon-arrow-left6"></i>
<i class="icon-arrow-right6"></i>
<i class="icon-arrow-right7"></i>
<i class="icon-arrow-down-right4"></i>
<i class="icon-arrow-down-right3"></i>
<i class="icon-arrow-down5"></i>
<i class="icon-arrow-down6"></i>
<i class="icon-arrow-down-left3"></i>
<i class="icon-arrow-down-left4"></i>
<i class="icon-address-book"></i>
<i class="icon-aid"></i>
<i class="icon-airplane"></i>
<i class="icon-alarm2"></i>
<i class="icon-apple"></i>
<i class="icon-android"></i>
<i class="icon-arrow-down-left7"></i>
<i class="icon-arrow-down10"></i>
<i class="icon-arrow-down-right7"></i>
<i class="icon-arrow-left11"></i>
<i class="icon-arrow-right12"></i>
<i class="icon-arrow-up-right7"></i>
<i class="icon-basket"></i>
<i class="icon-barcode2"></i>
<i class="icon-bars"></i>
<i class="icon-bubble"></i>
<i class="icon-bubble-star"></i>
<i class="icon-busy2"></i>
<i class="icon-calendar"></i>
<i class="icon-car"></i>
<i class="icon-database"></i>
<i class="icon-lamp"></i>
<i class="icon-power"></i>
<i class="icon-screen"></i>
<i class="icon-reply"></i>
<i class="icon-seven-segment-0"></i>
<i class="icon-seven-segment-1"></i>
<i class="icon-seven-segment-2"></i>
<i class="icon-seven-segment-3"></i>
<i class="icon-seven-segment-4"></i>
<i class="icon-seven-segment-5"></i>
<i class="icon-seven-segment-6"></i>
<i class="icon-seven-segment-7"></i>
<i class="icon-seven-segment-8"></i>
<i class="icon-seven-segment-9"></i>
<i class="icon-star5"></i>
<i class="icon-stats-up"></i>
<i class="icon-sun2"></i>
<i class="icon-storage2"></i>
<i class="icon-wand2"></i>
<i class="icon-wrench"></i>
<i class="icon-youtube"></i>
<i class="icon-zoom-in2"></i>
<i class="icon-zoom-out2"></i>
<i class="icon-vcard"></i>
<i class="icon-skull2"></i>
<i class="icon-plus-circle2"></i>
<i class="icon-pencil5"></i>
<i class="icon-menu3"></i>
<i class="icon-menu2"></i>
<i class="icon-menu"></i>
<i class="icon-male"></i>
<i class="icon-location"></i>
<i class="icon-home10"></i>
<i class="icon-forward"></i>
<i class="icon-fire2"></i>
<i class="icon-file5"></i>
<i class="icon-box-remove"></i>
<i class="icon-box-add"></i>
<i class="icon-arrow-right14"></i>
<i class="icon-arrow-up12"></i>
<i class="icon-arrow-left13"></i>
<i class="icon-arrow-down12"></i>
<i class="icon-close"></i>
<i class="icon-facebook2"></i>
<i class="icon-globe"></i>
<i class="icon-guitar"></i>
<i class="icon-hand"></i>
<i class="icon-html5"></i>
<i class="icon-image2"></i>
<i class="icon-medal3"></i>
<i class="icon-medal4"></i>
<i class="icon-medal5"></i>
<i class="icon-paragraph-justify2"></i>
<i class="icon-paragraph-justify3"></i>
<i class="icon-notification"></i>
<i class="icon-notification2"></i>
<i class="icon-steps"></i>
<i class="icon-wand"></i>
<i class="icon-wrench4"></i>